
<div>
<h2>Confirm your shipping address</h2>
<br/>

<form class="form-inline" role="form" method='POST' action='/addresses'>

  <div class="form-group">
    <label class="control-label" for="name">Name:</label>
    <input id="name" type='text' name='address[name]' value="<%= @card.name %>">
  </div>
  <br>
  <div class="form-group">
    <label class="control-label" for="email">Email:</label>
    <input id="email" type='email' name='address[email]' >
  </div>
  <br>
  <div class="form-group">
    <label class="control-label" for="address">Address:</label>
    <input id="address" type='text' name='address[address]' value="<%= @card.address1 %>">
  </div>
  <br>
  <div class="form-group">
    <label class="control-label" for="address1">Address:</label>
    <input id="address1" type='text' name='address[address1]' value="<%= @card.address2 %>">
  </div>
  <br>
  <div class="form-group">
    <label class="control-label" for="address2">Address:</label>
    <input id="address2" type='text' name='address[address2]'>
  </div>
  <br>
  <div class="form-group">
    <label class="control-label" for="phone">Phone number:</label>
    <input id="phone" type='tel' name='address[phone1]' value="<%= @card.phone1 %>">
  </div>
  <br>
<!--   <div class="form-group">
    <label class="control-label" for="pvc">Address1:</label>
    <input id="pvc" type='boolean' name='card[pvc]'>
  </div>
  <br> -->
  <input type="hidden" name='address[card_id]' value="<%= @card.id%>">
  <button type="submit" class="btn btn-success">Submit</button>

</form>
</div>

<div>

  <h2>Your Medical ID card info</h2>


<p>Picture: <img src=<%= @card.picture.url %> /></p>
<p>Name: <%= @card.name %></p>
<p>Address: <%= @card.address1 %></p>
<p>Address: <%= @card.address2 %></p>
<p>Phone Number: <%= @card.phone1 %></p>
<p>Date of Birth: <%= @card.dob %></p>
<p>Emergency Contact: <%= @card.em_contact %></p>
<p>Emergency Phone Number:<%= @card.phone_em %></p>
<p>Doctor: <%= @card.doctor %></p>
<p>Doctor's Phone number: <%= @card.phone_doc %></p>
<p>Insurance Provider: <%= @card.insurance %></p>
<p>Insurance Information: <%= @card.insur_numner %></p>
<p>Medical History: <%= @card.medical_history1 %></p>
<p>Medical History: <%= @card.medical_history2 %></p>
<p>Medical History: <%= @card.medical_history3 %></p>
<p>Medical History: <%= @card.medical_history4 %></p>
<p>Medical History: <%= @card.medical_history5 %></p>
<p>Medication: <%= @card.medication1 %></p>
<p>Medication: <%= @card.medication2 %></p>
<p>Medication: <%= @card.medication3 %></p>
<p>Medication: <%= @card.medication4 %></p>
<p>Medication: <%= @card.medication5 %></p>
<a href="/cards/<%= @card.id %>/edit">Edit Card</a>

</div>
