<h2>Your Shipping address</h2>

<p>Name: <%= @address.name %></p>
<p>Address: <%= @address.address %></p>
<p>Address: <%= @address.address1 %></p>
<p>Address: <%= @address.address2 %></p>
<p>Email Address: <%= @address.email %></p>
<p>Phone Number: <%= @address.phone %></p>
