
  <h2 class="featurette-heading">Complete your payment</h2>

  <form action="/addresses/charge" method="post" class="payment">
      <article>
        <label class="amount">
          <span>Amount: $5.00</span>

          <div class="form-row">
            <label>
              <span>Email:</span>
              <input type="hidden" data-stripe="email" value="<%= @address.email %>"/>
            </label>
          </div>
        </label>
      </article>

      <script src="https://checkout.stripe.com/v3/checkout.js" class="stripe-button" data-key="<%= settings.publishable_key %>"></script>
  </form>
  <br>

  <dl class="dl-horizontal clearfix">
    <dt>Name:</dt>
    <dd><%= @address.name %></dd>
    <dt>Address:</dt>
    <dd><%= @address.address %></dd>
    <dt>City:</dt>
    <dd><%= @address.city %></dd>
    <dt>State:</dt>
    <dd><%= @address.state %></dd>
    <dt>Zip:</dt>
    <dd><%= @address.zip %></dd>
    <dt>Email:</dt>
    <dd><%= @address.email %></dd>
    <dt>Phone Number:</dt>
    <dd><%= @address.phone1 %></dd>
  </dl>
</div>

<div class="col-md-5">
  <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  <hr class="featurette-divider">
</div>
