<h2>Make your payment</h2>

<form action="/addresses/charge" method="post">
    <article>
      <label class="amount">
        <span>Amount: $5.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/v3/checkout.js" class="stripe-button" data-key="<%= settings.publishable_key %>"></script>
</form>

<p>Name: <%= @address.name %></p>
<p>Address: <%= @address.address %></p>
<p>Address: <%= @address.address1 %></p>
<p>Address: <%= @address.address2 %></p>
<p>Email Address: <%= @address.email %></p>
<p>Phone Number: <%= @address.phone %></p>
